<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css.scss">
<link rel="stylesheet" type="text/css" href="stylesheets/demo.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/style1.css" />
<!-- <script type="text/javascript" src="javascripts/modernizr.custom.86080.js"></script> -->
<body>
<div class="search">
    <h1>TRAVEL ROULETTE</h1>
        <div class="input">
            <form id="searchflight">
                <h1>Welcome to FlyFreely</h1>
                <h3>Don't know where to go? No worries!</h3>
                <p>
                    Depart From: <input id="departure" placeholder="Airport Name/Code" type="text">
                </p>


                <!--p>
                    Arrive: <input id="arrival" placeholder="Airport Name/Code" type="text">
                </p> -->

                <p>
                    Departure Date: <input type="text" id="datepicker" placeholder="Click to view Calendar">
                </p>

                <p>
                    Return Date: <input type="text" class="datepicker" placeholder="Click to view Calendar">
                </p>

                <p>
                    Number of Passengers: 
                    <select class="passenger">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </p>

                <!--p>
                    Budget: <input id="budget" placeholder="$: Flight Budget" type="text">
                </p> -->

                <p>
                    <button type="submit">Lets Fly</button>
                </p>
            </form>
        </div>

        <div class="results">
            <p>Let's Take you to.... </p>
        </div>
    </div>   

    <div class="cb-slideshow">
        <ul>
            <li>
                <span>01</span>
            </li>
            <li>
                <span>02</span>
            </li>
            <li>
                <span>03</span>
            </li>
            <li>
                <span>04</span>
            </li>
            <li>
                <span>05</span>
            </li>
            <li>
                <span>06</span>
            </li>
            <li>
                <span>07</span>
            </li>
            <li>
                <span>08</span>
            </li>
            <li>
                <span>09</span>
            </li>
            <li>
                <span>10</span>
            </li>
            <li>
                <span>11</span>
            </li>
            <li>
                <span>12</span>
            </li>
            <li>
                <span>13</span>
            </li>
            <li>
                <span>14</span>
            </li>
            <li>
                <span>15</span>
            </li>
        </ul>
     </div>  

</body>    

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
</html>
