<!DOCTYPE html>
<html>
<head>
    <title>TRAVELION</title>
</head>

<link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>
<!-- <link rel="stylesheet" type="text/css" href="stylesheets/style.css.scss">
<link rel="stylesheet" type="text/css" href="stylesheets/demo.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/style1.css.erb" /> -->
<!-- <script type="text/javascript" src="javascripts/modernizr.custom.86080.js"></script> -->
<body>
<!-- <h1>TRAVEL ROULETTE</h1> -->
<div class="search">
  <div class="input">
      <form id="searchflight">
          <p>
              Depart From: 
              <input type="text" id="departure" list="states" placeholder="Airport Name/Code">
              <datalist id="states">
<!-- A -->
                <option value="YXX" label="Abbotsford, BC">
                <option value="ABR" label="Aberdeen, SD">
                <option value="ABI" label="Abilene, TX">
                <option value="CAK" label="Akron, OH">
                <option value="ALS" label="Alamosa, CO">
                <option value="ABY" label="Albany, GA">
                <option value="ALB" label="Albany, NY">
                <option value="ABQ" label="Albuquerque, NM">
                <option value="AEX" label="Alexandria, LA">
                <option value="ABE" label="Allentown, PA">
                <option value="AIA" label="Alliance, NE">
                <option value="APN" label="Alpena, MI">
                <option value="AOO" label="Altoona, PA">
                <option value="AMA" label="Amarillo, TX">
                <option value="YAA" label="Anahim Lake, BC">
                <option value="ANC" label="Anchorage, AK">
                <option value="ATW" label="Appleton, WI">
                <option value="YEK" label="Arviat, NWT">
                <option value="AVL" label="Asheville, NC">
                <option value="ASE" label="Aspen, CO">
                <option value="AHN" label="Athens, GA">
                <option value="ATL" label="Atlanta, GA">
                <option value="ACY" label="Atlantic City, NJ">
                <option value="AGS" label="Augusta, GA">
                <option value="AUG" label="Augusta, ME">
                <option value="AUS" label="Austin, TX">
<!-- B -->
                <option value="YBG" label="Bagotville, PQ">
                <option value="YBC" label="Baie-Comeau, PQ">
                <option value="BFL" label="Bakersfield, CA">
                <option value="BWI" label="Baltimore, MD">
                <option value="BGR" label="Bangor, ME">
                <option value="BHB" label="Bar Harbor, ME">
                <option value="BRW" label="Barrow, AK">
                <option value="BTR" label="Baton Rouge, LA">
                <option value="BPT" label="Beaumont, TX">
                <option value="BKW" label="Beckley, WV">
                <option value="BED" label="Bedford, MA">
                <option value="BLI" label="Bellingham, WA">
                <option value="BJI" label="Bemidji, MN">
                <option value="BET" label="Bethel, AK">
                <option value="BTT" label="Bettles, AK">
                <option value="BIL" label="Billings, MT">
                <option value="BGM" label="Binghamton, NY">
                <option value="BHM" label="Birmingham, AL">
                <option value="BIS" label="Bismarck, ND">
                <option value="BMI" label="Bloomington, IL">
                <option value="BMG" label="Bloomington, IN">
                <option value="BLF" label="Bluefield, WV">
                <option value="BOI" label="Boise, ID">
                <option value="BOS" label="Boston, MA">
                <option value="BZN" label="Bozeman, MT">
                <option value="BKX" label="Brookings, SD">
                <option value="BRO" label="Brownsville, TX">
                <option value="BQK" label="Brunswick, GA">
                <option value="BUF" label="Buffalo, NY">
                <option value="BUR" label="Burbank, CA">
                <option value="BRL" label="Burlington, IA">
                <option value="BBF" label="Burlington, MA">
                <option value="BTV" label="Burlington, VT">
                <option value="BTM" label="Butte, MT">
<!-- C -->
                <option value="YYC" label="Calgary, AB">
                <option value="YBL" label="Campbell River, BC">
                <option value="YGR" label="Cap-aux-Meules, Magdalens Islands, PQ">
                <option value="CGI" label="Cape Girardeau, MO">
                <option value="CLD" label="Carlsbad, CA">
                <option value="CNM" label="Carlsbad, NM">
                <option value="CPR" label="Casper, WY">
                <option value="YCG" label="Castlegar, BC">
                <option value="CID" label="Cedar Rapids, IA">
                <option value="CMI" label="Champaign, IL">
                <option value="CHS" label="Charleston, SC">
                <option value="CRW" label="Charleston, WV">
                <option value="CLT" label="Charlotte, NC">
                <option value="CHO" label="Charlottesville, VA">
                <option value="YYG" label="Charlottetown, PEI">
                <option value="CHA" label="Chattanooga, TN">
                <option value="CYS" label="Cheyenne, WY">
                <option value="YMT" label="Chibougamau, PQ">
                <option value="ORD" label="Chicago, IL">
                <option value="MDW" label="Chicago, IL">
                <option value="CHI" label="Chicago, IL">
                <option value="CIC" label="Chico, CA">
                <option value="YYQ" label="Churchill, MB">
                <option value="CVG" label="Cincinnati, OH">
                <option value="CKB" label="Clarksburg, WV">
                <option value="CLE" label="Cleveland, OH">
                <option value="CVN" label="Clovis, NM">
                <option value="COD" label="Cody, WY">
                <option value="CLL" label="College Station, TX">
                <option value="COS" label="Colorado Springs, CO">
                <option value="COU" label="Columbia, MO">
                <option value="CAE" label="Columbia, SC">
                <option value="CSG" label="Columbus, GA">
                <option value="CLU" label="Columbus, IN">
                <option value="GTR" label="Columbus, MS">
                <option value="OLU" label="Columbus, NE">
                <option value="CMH" label="Columbus, OH">
                <option value="CDV" label="Cordova, AK">
                <option value="CRP" label="Corpus Christi, TX">
                <option value="YXC" label="Cranbrook, BC">
<!-- D -->
                <option value="DFW" label="Dallas, TX">
                <option value="DAL" label="Dallas, TX">
                <option value="DAY" label="Dayton, OH">
                <option value="DAB" label="Daytona Beach, FL">
                <option value="DEC" label="Decatur, IL">
                <option value="YDF" label="Deer Lake, NF">
                <option value="DEN" label="Denver, CO">
                <option value="DSM" label="Des Moines, IA">
                <option value="DTW" label="Detroit, MI">
                <option value="DTT" label="Detroit, MI">
                <option value="DVL" label="Devils Lake, ND">
                <option value="DIK" label="Dickinson, ND">
                <option value="DLG" label="Dillingham, AK">
                <option value="DDC" label="Dodge City, KS">
                <option value="YHD" label="Dothan, AL">
                <option value="DUJ" label="Du Bois, PA">
                <option value="DBQ" label="Dubuque, IA">
                <option value="DLH" label="Duluth, MN">
                <option value="DRO" label="Durango, CO">
                <option value="DUT" label="Dutch Harbor, Un Island, AK">
<!-- E -->
                <option value="EAU" label="Eau Claire, WI">
                <option value="YEG" label="Edmonton, AB">
                <option value="EEK" label="Eek, AK">
                <option value="IPL" label="El Centro, CA">
                <option value="ELD" label="El Dorado, AR">
                <option value="ELP" label="El Paso, TX">
                <option value="EKO" label="Elko, NV">
                <option value="ELM" label="Elmira, NY">
                <option value="WDG" label="Enid, OK">
                <option value="ERI" label="Erie, PA">
                <option value="ESC" label="Escanaba, MI">
                <option value="EUG" label="Eugene, OR">
                <option value="ACV" label="Eureka, CA">
                <option value="EVV" label="Evansville, IN">
<!-- F -->
                <option value="FAI" label="Fairbanks, AK">
                <option value="FAR" label="Fargo, ND">
                <option value="FMN" label="Farmington, NM">
                <option value="XNA" label="Fayetteville, AR">
                <option value="FAY" label="Fayetteville, NC">
                <option value="FLG" label="Flagstaff, AZ">
                <option value="YFO" label="Flin Flon, MB">
                <option value="FNT" label="Flint, MI">
                <option value="FLO" label="Florence, SC">
                <option value="FOD" label="Fort Dodge, IA">
                <option value="FLL" label="Fort Lauderdale, FL">
                <option value="TBN" label="Fort Leonard Wood, MO">
                <option value="YMM" label="Fort McMurray, AB">
                <option value="RSW" label="Fort Myers, FL">
                <option value="YYE" label="Fort Nelson, BC">
                <option value="YXJ" label="Fort Saint John, BC">
                <option value="FSM" label="Fort Smith, AR">
                <option value="YSM" label="Fort Smith, NWT">
                <option value="VPS" label="Fort Walton Beach, FL">
                <option value="FWA" label="Fort Wayne, IN">
                <option value="FYU" label="Fort Yukon, AK">
                <option value="YFC" label="Fredericton, NB">
                <option value="FAT" label="Fresno, CA">
<!-- G -->
                <option value="GNV" label="Gainesville, FL">
                <option value="YQX" label="Gander, NF">
                <option value="GCK" label="Garden City, KS">
                <option value="YGP" label="Gaspe, PQ">
                <option value="GCC" label="Gillette, WY">
                <option value="GDV" label="Glendive, MT">
                <option value="GFK" label="Grand Forks, ND">
                <option value="GRI" label="Grand Island, NE">
                <option value="GJT" label="Grand Junction, CO">
                <option value="GRR" label="Grand Rapids, MI">
                <option value="YQU" label="Grande Prairie, AB">
                <option value="GBD" label="Great Bend, KS">
                <option value="GTF" label="Great Falls, MT">
                <option value="GRB" label="Green Bay, WI">
                <option value="LWB" label="Greenbrier, WV">
                <option value="GSO" label="Greensboro, NC">
                <option value="GLH" label="Greenville, MS">
                <option value="PGV" label="Greenville, NC">
                <option value="GSP" label="Greenville, SC">
                <option value="GPT" label="Gulfport, MS">
                <option value="GUC" label="Gunnison, CO">
<!-- H -->
                <option value="HGR" label="Hagerstown, MD">
                <option value="YHZ" label="Halifax, NS">
                <option value="YHM" label="Hamilton, ON">
                <option value="HNM" label="Hana, Maui, HI">
                <option value="CMX" label="Hancock, MI">
                <option value="HRL" label="Harlingen, TX">
                <option value="MDT" label="Harrisburg, PA">
                <option value="HRO" label="Harrison, AR">
                <option value="BDL" label="Hartford, CT">
                <option value="HVR" label="Havre, MT">
                <option value="HYS" label="Hays, KS">
                <option value="HLN" label="Helena, MT">
                <option value="HIB" label="Hibbing, MN">
                <option value="BIG" label="Hilo, Hawaii  ">
                <option value="HHH" label="Hilton Head Island, SC">
                <option value="HOB" label="Hobbs, NM">
                <option value="HOM" label="Homer, AK">
                <option value="HNL" label="Honolulu, Oahu, HI">
                <option value="MKK" label="Hoolehua, Molokai, HI ">
                <option value="HOT" label="Hot Springs, AR">
                <option value="IAH" label="Houston, TX">
                <option value="HOU" label="Houston, TX">
                <option value="EFD" label="Houston, TX">
                <option value="HTS" label="Huntington, WV">
                <option value="HSV" label="Huntsville, AL">
                <option value="HON" label="Huron, SD">
                <option value="HYA" label="Hyannis, MA">
<!-- I -->
                <option value="IDA" label="Idaho Falls, ID">
                <option value="IND" label="Indianapolis, IN">
                <option value="INL" label="International Falls, MN">
                <option value="IYK" label="Inyokern, CA">
                <option value="YFB" label="Iqaluit, Nunavut">
                <option value="IMT" label="Iron Mountain, MI">
                <option value="IWD" label="Ironwood, MI">
                <option value="ISP" label="Islip, NY">
                <option value="ITH" label="Ithaca, NY">
<!-- J -->
                <option value="JAC" label="Jackson Hole, WY">
                <option value="JAN" label="Jackson, MS">
                <option value="MKL" label="Jackson, TN">
                <option value="JAX" label="Jacksonville, FL">
                <option value="OAJ" label="Jacksonville, NC">
                <option value="JMS" label="Jamestown, ND">
                <option value="JHW" label="Jamestown, NY">
                <option value="JST" label="Johnstown, PA">
                <option value="JBR" label="Jonesboro, AR">
<!-- K -->
                <option value="OGG" label="Kahului, Maui, HI">
                <option value="Big" label="Kailua-Kona, Hawaii">
                <option value="AZO" label="Kalamazoo, MI">
                <option value="LUP" label="Kalaupapa, Molokai, HI">
                <option value="FCA" label="Kalispell, MT">
                <option value="YKA" label="Kamloops, BC">
                <option value="Big" label="Kamuela, Hawaii">
                <option value="MCI" label="Kansas City, MO">
                <option value="JHM" label="Kapalua, Maui, HI">
                <option value="EAR" label="Kearney, NE">
                <option value="YLW" label="Kelowna, BC">
                <option value="ENA" label="Kenai, AK">
                <option value="YQK" label="Kenora, ON">
                <option value="KTN" label="Ketchikan, AK">
                <option value="EYW" label="Key West, FL">
                <option value="GRK" label="Killeen, TX">
                <option value="AKN" label="King Salmon, AK">
                <option value="IGM" label="Kingman, AZ">
                <option value="YGK" label="Kingston, ON">
                <option value="IRK" label="Kirksville, MO">
                <option value="LMT" label="Klamath Falls, OR">
                <option value="TYS" label="Knoxville, TN">
                <option value="ADQ" label="Kodiak, AK">
<!-- L -->
                <option value="LSE" label="La Crosse, WI">
                <option value="LFT" label="Lafayette, LA">
                <option value="LCH" label="Lake Charles, LA">
                <option value="HII" label="Lake Havasu City, AZ">
                <option value="LNY" label="Lanai City, Lanai, HI">
                <option value="LNS" label="Lancaster, PA">
                <option value="LAN" label="Lansing, MI">
                <option value="LAR" label="Laramie, WY">
                <option value="LRD" label="Laredo, TX">
                <option value="LRU" label="Las Cruces, NM">
                <option value="LAS" label="Las Vegas, NV">
                <option value="LBE" label="Latrobe, PA">
                <option value="PIB" label="Laurel, MS">
                <option value="LAW" label="Lawton, OK">
                <option value="LEB" label="Lebanon, NH">
                <option value="YQL" label="Lethbridge, AB">
                <option value="LWS" label="Lewiston, ID">
                <option value="LEW" label="Lewiston, ME">
                <option value="LWT" label="Lewistown, MT">
                <option value="LEX" label="Lexington, KY">
                <option value="LBL" label="Liberal, KS">
                <option value="LIH" label="Lihue, Kauai, HI">
                <option value="LNK" label="Lincoln, NE">
                <option value="LIT" label="Little Rock, AR">
                <option value="YXU" label="London, ON">
                <option value="LGB" label="Long Beach, CA">
                <option value="GGG" label="Longview, TX">
                <option value="QLA" label="Los Angeles, CA">
                <option value="LAX" label="Los Angeles, CA">
                <option value="SDF" label="Louisville, KY, USA">
                <option value="LBB" label="Lubbock, TX">
                <option value="LYH" label="Lynchburg, VA">
<!-- M -->
                <option value="MCN" label="Macon, GA">
                <option value="MSN" label="Madison, WI">
                <option value="MHT" label="Manchester, NH">
                <option value="MHK" label="Manhattan, KS">
                <option value="MBL" label="Manistee, MI">
                <option value="MWA" label="Marion, IL">
                <option value="MQT" label="Marquette, MI">
                <option value="MVY" label="Martha's Vineyard, MA">
                <option value="MCW" label="Mason City, IA">
                <option value="MSS" label="Massena, NY">
                <option value="MFE" label="McAllen, TX">
                <option value="MCK" label="McCook, NE">
                <option value="MFR" label="Medford, OR">
                <option value="YXH" label="Medicine Hat, AB">
                <option value="MLB" label="Melbourne, FL">
                <option value="MEM" label="Memphis, TN">
                <option value="MEI" label="Meridian, MS">
                <option value="MIA" label="Miami, FL">
                <option value="MAF" label="Midland, TX">
                <option value="MLS" label="Miles City, MT">
                <option value="MKE" label="Milwaukee, WI">
                <option value="MSP" label="Minneapolis, MN">
                <option value="MOT" label="Minot, ND">
                <option value="MSO" label="Missoula, MT">
                <option value="MOB" label="Mobile, AL">
                <option value="MOD" label="Modesto, CA">
                <option value="MLI" label="Moline, IL">
                <option value="YQM" label="Moncton, NB">
                <option value="MLU" label="Monroe, LA">
                <option value="YYY" label="Mont-Joli, PQ">
                <option value="MRY" label="Monterey, CA">
                <option value="MGM" label="Montgomery, AL">
                <option value="YUL" label="Montreal, PQ">
                <option value="YMQ " label="Montreal, PQ">
                <option value="MTJ" label="Montrose, CO">
                <option value="MGW" label="Morgantown, WV">
                <option value="MWH" label="Moses Lake, WA">
                <option value="MSL" label="Muscle Shoals, AL">
                <option value="MKG" label="Muskegon, MI">
                <option value="MYR" label="Myrtle Beach, SC">
<!-- N -->
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <option value="" label="">
                <!-- All the other states -->
              </datalist>
          </p>
          <!--p>
              Arrive: <input id="arrival" placeholder="Airport Name/Code" type="text">
          </p> -->

          <p>
              Departure Date: <input type="text" id="datepicker" placeholder="Click to view Calendar">
          </p>

          <p>
              Return Date: <input type="text" class="datepicker" placeholder="Click to view Calendar">
          </p>

<!--           <p>
              Budget: <input type="text" id="budget" placeholder="Maximum Budget">
          </p> -->

          <p>
              Number of Passengers: 
              <select class="passenger">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
              </select>
          </p>

          <!--p>
              Budget: <input id="budget" placeholder="$: Flight Budget" type="text">
          </p> -->

          <p>
              <button type="submit">Lets Fly</button>
          </p>
      </form>
  </div>
</div>   

 <div class="results">
        </div>



    <div class="cb-slideshow">
        <ul>
            <li>
                <span>01</span>
                <div class="title">
                    <h1>TRAVELION</h1>
                </div>
            </li>
            <li>
                <span>02</span>
                <div class="title">
                    <h1>TRAVELION</h1>
                </div>
            </li>
            <li>
                <span>03</span>
                <div class="title">
                    <h1>TRAVELION</h1>
                </div>
            </li>
            <li>
                <span>04</span>
                <div class="title">
                    <h1>TRAVELION</h1>
                </div>
            </li>
            <li>
                <span>05</span>
                <div class="title">
                    <h1>TRAVELION</h1>
                </div>
            </li>
            <li>
                <span>06</span>
                <div class="title">
                    <h1>TRAVELION</h1>
                </div>
            </li>
            <li>
                <span>07</span>
                <div class="title">
                    <h1>TRAVELION</h1>
                </div>
            </li>
            <li>
                <span>08</span>
                <div class="title">
                    <h1>TRAVELION</h1>
                </div>
            </li>
            <li>
                <span>10</span>
                <div class="title">
                    <h1>TRAVELION</h1>
                </div>
            </li>
            <li>
                <span>11</span>
                <div class="title">
                    <h1>TRAVELION</h1>
                </div>
            </li>
            <li>
                <span>12</span>
                <div class="title">
                    <h1>TRAVELION</h1>
                </div>
            </li>
            <li>
                <span>13</span>
                <div class="title">
                    <h1>TRAVELION</h1>
                </div>
            </li>
            <li>
                <span>14</span>
                <div class="title">
                    <h1>TRAVELION</h1>
                </div>
            </li>
            <li>
                <span>15</span>
                <div class="title">
                    <h1>TRAVELION</h1>
                </div>
            </li>
        </ul>
     </div>  

</body>    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
</html>
