<link href='//fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

<div class="search">
    <body background="/assets/flyfreely.png">
        <div class="input">
            <form>
                 <h1>Welcome to FlyFreely</h1>
        <h3>Don't know where to go? No worries!</h3>
                <p>
                    Departure From: <input id="departure" placeholder="Airport Name/Code" type="text">
                </p>

    <!--             <p>
                    Arrive: <input id="arrival" placeholder="Airport Name/Code" type="text">
                </p> -->

                <p>
                    Departure Date: <input type="text" id="datepicker" placeholder="Click to view Calendar">
                </p>

                <p>
                    Arrival Date: <input type="text" class="datepicker" placeholder="Click to view Calendar">
                </p>

                <p>
                    Number of Passengers: 
                    <select class="passenger">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </p>

<!--                 <p>
                    Budget: <input id="budget" placeholder="$: Flight Budget" type="text">
                </p> -->

                <p>
                    <button type="submit">Lets Fly</button>
                </p>
            </form>
        </div>
        <div class="results">

        </div>
    </body>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

